/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d7caec;
}

h1,
h2,
h3 {
    color: #333;
}

p,
label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="date"], 
input[type="file"],
textarea {
    width: 400px;
} 

textarea {
    padding: 10px 5px;
    border-radius: 20px;
    
}

/* page header */
.header {
    height: 160px;
    padding: 20px;
    font-size: 30px;
    background-color: #eb6c9c;
}

.header h3 {
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}

/* form conteiner */
.form_conteiner {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -56px;
    border-radius: 20px;
    box-shadow: 0px 0px 130px 0px #eb6c9c;
}

/*  form header*/
.form_header {
    border-bottom: 1px solid #dfdfdf;
    height: 55px;
}

.form_header p {
    color: #7c73fa;
    border-bottom: 2px solid #7c73fa;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

/* form body */
.form_body {
    padding: 30px;
}

.form-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #7c73fa;
}

.form_body p {
    margin-bottom: 15px;
}

.required-field {
    color: #d80835;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 5px;
}

.box-input p {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #7c73fa;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #7c73fa;
    color: #7c73fa;
}